#nprogress .bar {
    background-color: #379C4F !important;
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.rec.rec-arrow  {
    background-color:transparent !important;
}
.rec.rec-arrow:hover  {
    background-color:#FFAA99 !important;
    border:none ;
}
.rec.rec-arrow::before  {
    background-color:#FFAA99 !important;
    border:none ;
}

.featured-image{
    margin-top: 90px;
    width: 100%;
    max-height:500px;
    object-fit:cover;
}

button.rec-dot{
display:none !important
  };

