
#nprogress .bar {
    background-color: #379C4F !important;
    height: 4px !important;
}

.ql-editor {
    min-height: 300px;
}

.featured-image{
    margin-top: 90px;
    width: 100%;
    max-height:500px;
    object-fit:cover;
}